html, body {
	margin:0; 
	padding:0;
}
.top-bar {
	height:50px;
	background-color:#48669c;
	width: 100%;
	border-bottom-width: thin;
	border-bottom: 1px solid black;
	

}
.top-bar img {
	height:40px;
	width:40px;
	left:150px;
	top:5px;

}
.cover-photo img {
	margin:0 auto 0 auto;
	display: block;
	height: 260px;
	width: 1000px;
	top: 50px;

}
nav {
	width: 1000px;
	height: 40px;
	border: 1px solid red;
	margin: 0 auto;
	padding-bottom:26px;
}
nav img {
	/*display: inline-block;*/
	height:170 px;
	width: 170px;
	float:left;
	border: black;
	position: relative;
	top:-120px;
	border:5px solid white;
	margin-left: 30px;

	
}
header li {
	display: inline-block;
	border: 1px solid black;
	padding: 4px;
	font-size: 30px;
}
aside {
	border:1px solid orange;
	height:230px;
	width: 200px;
	margin: 10px;
	float:left;
}

main {
	border: 1px solid blue;
	clear:both;
}
.status {
	width:740px;
	height:200px;
	border:1px solid green;
	float:right;

}